
{{- $schemaImp := printf "%s%s" (. | Name | LowerCamel) "Schema" }}
type {{ $schemaImp }} struct {
{{- range .Fields -}}
{{- if .Type.IsEmbed }}
    {{- if . | IsWKT }}
    {{ . | Name | LowerCamel }} string
    {{- else }}
	{{ . | Name | LowerCamel }} *{{ .Type.Embed | Name | LowerCamel }}Schema
    {{- end }}
{{- else }}
    {{ . | Name | LowerCamel }} string
{{- end }}
{{- end }}
}

func new{{ . | Name }}Schema(prefix string) *{{ $schemaImp }} {
    return &{{ $schemaImp }} {
{{- range .Fields -}}
{{- if .Type.ProtoType.IsInt }}
	{{ . | Name | LowerCamel }}: prefix+"->'{{ .Name | LowerCamel }}')::bigint",
{{- else if .Type.ProtoType.IsNumeric }}
	{{ . | Name | LowerCamel }}: prefix+"->'{{ .Name | LowerCamel }}')::double precision",
{{- else if . | IsString }}
	{{ . | Name | LowerCamel }}: prefix+"->>'{{ .Name | LowerCamel }}')",
{{- else if . | IsBool }}
	{{ . | Name | LowerCamel }}: prefix+"->'{{ .Name | LowerCamel }}')::bool",
{{- else if . | IsWKT }}
    {{- if . | IsWKTTime }}
	{{ . | Name | LowerCamel }}: prefix+"->'{{ .Name | LowerCamel }}')::timestamp",
    {{- end }}
{{- else if .Type.IsRepeated }}{{- $gtype := . | GoType }}
	{{ . | Name | LowerCamel }}: prefix+"->'{{ .Name | LowerCamel }}')",
{{- else if .Type.IsEmbed }}
	{{ . | Name | LowerCamel }}: new{{ .Type.Embed | Name }}Schema(prefix+"->'{{ .Name | LowerCamel }}'"),
{{- end }}
{{- end }}
    }
}

{{- range .Fields -}}
 {{- if .Type.ProtoType.IsInt }}
func (s *{{ $schemaImp }}) {{ . | Name }}() nidhigen.IntField {
        return nidhigen.IntField(s.{{ . | Name | LowerCamel }})
    }
{{- else if .Type.ProtoType.IsNumeric }}
func (s *{{ $schemaImp }}) {{- . | Name }}() nidhigen.FloatField {
        return nidhigen.FloatField(s.{{ . | Name | LowerCamel }})
    }
{{- else if . | IsString }}
func (s *{{ $schemaImp }}) {{ . | Name }}() nidhigen.StringField {
        return nidhigen.StringField(s.{{ . | Name | LowerCamel }})
    }
{{- else if . | IsBool }}
func (s *{{ $schemaImp }}) {{ . | Name }}() nidhigen.BoolField {
        return nidhigen.BoolField(s.{{ . | Name | LowerCamel }})
    }
{{- else if . | IsWKT }}
    {{- if . | IsWKTTime }}
func (s *{{ $schemaImp }}) {{ . | Name }}() nidhigen.TimeField {
        return nidhigen.TimeField(s.{{ . | Name | LowerCamel }})
    }
    {{- end }}
{{- else if .Type.IsRepeated }}{{- $gtype := . | GoType }}
func (s *{{ $schemaImp }}) {{ . | Name }}() nidhigen.UnorderedField {
        return nidhigen.UnorderedField(s.{{ . | Name | LowerCamel }})
    }
{{- else if .Type.IsEmbed }}
func (s *{{ $schemaImp }}) {{ . | Name }}() *{{ .Type.Embed | Name | LowerCamel }}Schema {
        return s.{{ . | Name | LowerCamel }}
    }
{{- end }}
{{- end }}
