{{- /*gotype: github.com/srikrsna/pkg/protoc-gen-nidhi.Root*/ -}}
{{ $name := .Message | Name }}
{{ $lowerName := printf "%s%s" "imp_" .Message.Name  }}
func Get{{ $name }}Query() {{ $name }}Query {
	return (*{{ $lowerName }}Query)(nidhi.GetQuery())
}

func Put{{ $name }}Query(q {{ $name }}Query) {
	nidhi.PutQuery((*nidhi.Query)(q.(*{{ $lowerName }}Query)))
}

type {{ $name }}Query interface {
{{- range .Fields -}}
{{- if .Type.ProtoType.IsInt }}
	{{ . | Name }}(*nidhi.IntQuery) {{ $name }}Conj
{{- else if .Type.ProtoType.IsNumeric }}
	{{ . | Name }}(*nidhi.FloatQuery) {{ $name }}Conj
{{- else if . | IsString }}
	{{ . | Name }}(*nidhi.StringQuery) {{ $name }}Conj
{{- else if . | IsBool }}
	{{ . | Name }}(*nidhi.BoolQuery) {{ $name }}Conj
{{- else if . | IsWKT }}
	{{- if . | IsWKTTime }}
	{{ . | Name }}(*nidhi.TimeQuery) {{ $name }}Conj
	{{- end }}
{{- else if .Type.IsRepeated }}{{- $gtype := . | GoType }}
	{{ . | Name }}({{ with not .Type.Element.IsEmbed }}nidhi.SliceOptions,{{ end }} ...{{ $gtype.Element }}) {{ $name }}Conj
{{- else if .Type.IsEmbed }}
	{{ . | Name }}() {{ $name }}{{ . | Name }}Query
{{- end }}
{{- end }}

	// Generic With Type Safety
	Paren(iq is{{ $name }}Query) {{ $name }}Conj
	Where(query string, args ...interface{}) {{ $name }}Conj
	Not() {{ $name }}Query
	ReplaceArgs(args ...interface{}) error
}

type {{ $name }}Conj interface {
	And() {{ $name }}Query
	Or() {{ $name }}Query
	is{{ $name }}Query
}

type is{{ $name }}Query interface {
	{{ $lowerName }}Query()
	nidhi.Sqlizer
}

type {{ $lowerName }}Query nidhi.Query

func (q *{{ $lowerName }}Query) {{ $lowerName }}Query() {}

func (q *{{ $lowerName }}Query) Id(f *nidhi.StringQuery) {{ $name }}Conj {
	(*nidhi.Query)(q).Id(f)
	return q
}

{{- range .Fields -}}
	{{- if .Type.ProtoType.IsInt }}
func (q *{{ $lowerName }}Query) {{ . | Name }}(f *nidhi.IntQuery) {{ $name }}Conj {
	(*nidhi.Query)(q).Field(" ("+nidhi.ColDoc+"->'{{ .Name | LowerCamel }}')::bigint", f)
	return q
}
	{{ else if .Type.ProtoType.IsNumeric }}
func (q *{{ $lowerName }}Query) {{ . | Name }}(f *nidhi.FloatQuery) {{ $name }}Conj {
	(*nidhi.Query)(q).Field(" ("+nidhi.ColDoc+"->'{{ .Name | LowerCamel }}')::double precision", f)
	return q
}
	{{ else if and (. | IsString) (ne .Name.String "id") }}
func (q *{{ $lowerName }}Query) {{ . | Name }}(f *nidhi.StringQuery) {{ $name }}Conj {
	(*nidhi.Query)(q).Field(" "+nidhi.ColDoc+"->>'{{ .Name | LowerCamel }}'", f)
	return q
}
	{{ else if . | IsBool }}
func (q *{{ $lowerName }}Query) {{ . | Name }}(f *nidhi.BoolQuery) {{ $name }}Conj {
	(*nidhi.Query)(q).Field(" ("+nidhi.ColDoc+"->'{{ .Name | LowerCamel }}')::bool", f)
	return q
}
	{{ else if . | IsWKT }}
	{{ if . | IsWKTTime }}
func (q *{{ $lowerName }}Query) {{ . | Name }}(f *nidhi.TimeQuery) {{ $name }}Conj {
	(*nidhi.Query)(q).Field(" ("+nidhi.ColDoc+"->'{{ .Name | LowerCamel }}')::timestamp", f)
	return q
}
	{{ end }}
	{{ else if .Type.IsRepeated }}{{- $gtype := . | GoType }}
func (q *{{ $lowerName }}Query) {{ . | Name }}({{ with not .Type.Element.IsEmbed }}opt nidhi.SliceOptions,{{ end }} arr ...{{ $gtype.Element }}) {{ $name }}Conj {
	(*nidhi.Query)(q).Field(
		" "+nidhi.ColDoc+"->'{{ .Name | LowerCamel }}'",
		{{- if .Type.Element.IsEmbed }}
		nidhi.MarshalerQuery{
			Marshaler: {{ $gtype.Element.Value }}Slice(arr),
		}
		{{- else }}
		&nidhi.SliceQuery{
			Slice: arr,
			Options: opt,
		}
		{{- end }},
	)
	return q
}
	{{ else if .Type.IsEmbed }}
func (q *{{ $lowerName }}Query) {{ . | Name }}() {{ $name }}{{ . | Name }}Query {
	(*nidhi.Query)(q).Prefix(" (" + nidhi.ColDoc + "->'{{ .Name | LowerCamel }}'")
	return (*{{ $lowerName }}{{ . | Name }}Query)(q)
}
	{{- end }}
{{- end }}

func (q *{{ $lowerName }}Query) Paren(iq is{{ $name }}Query) {{ $name }}Conj {
	(*nidhi.Query)(q).Paren(iq)
	return q
}

func (q *{{ $lowerName }}Query) Where(query string, args ...interface{}) {{ $name }}Conj {
	(*nidhi.Query)(q).Where(query, args...)
	return q
}

func (q *{{ $lowerName }}Query) Not() {{ $name }}Query {
	(*nidhi.Query)(q).Not()
	return q
}

func (q *{{ $lowerName }}Query) And() {{ $name }}Query {
	(*nidhi.Query)(q).And()
	return q
}

func (q *{{ $lowerName }}Query) Or() {{ $name }}Query {
	(*nidhi.Query)(q).Or()
	return q
}

func (q *{{ $lowerName }}Query) ReplaceArgs(args ...interface{}) error {
	return (*nidhi.Query)(q).ReplaceArgs()
}

func (q *{{ $lowerName }}Query) ToSql() (string, []interface{}, error) {
	return (*nidhi.Query)(q).ToSql()
}